* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(63,72,83);
  font-family: sans-serif;
  color: rgb(220,220,220);
  padding: 50px;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  margin-bottom: 20px;
}

a {
  color: inherit;
}

p {
  margin-top: .7em;
}

.warning {
  color: rgb(62,148,236);
}

.st_viewport {
  max-height: 800px;
  overflow: auto;
}

.st_wrap_table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;
}

.st_table_header {
  background-color: rgb(27,30,36);
  color: rgb(220,220,220);
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: bold;
}

.st_table_header th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid rgb(100, 100, 100);
}

.st_table {
  border: 1px solid rgb(100, 100, 100);
  width: 100%;
  border-collapse: collapse;
}

.st_row {
  border-bottom: 1px solid rgb(100, 100, 100);
}

.st_table .st_row:nth-child(even) {
  background-color: rgba(0,0,0, .1);
}

.st_column {
  padding: 10px 20px;
  text-align: left;
}

.st_table td, .st_table th {
  padding: 10px;
  text-align: left;
}

.st_table .st_row:last-child {
  border-bottom: none;
}
